html {
  box-sizing: border-box;
}

*,
::after ::before {
  box-sizing: inherit;
}

.body {
  font-family: "Noticia Text", serif;
  color: #eee;
}

.background__image {
  background-color: #eee;
  background-image: url("../images/backgroung.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
}

.header {
  margin: 48px auto;
  width: fit-content;
  font-size: 70px;
  text-shadow: 7px 7px 5px #313232;
  padding: 16px;
  text-align: center;
}
